@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin small-text {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

@mixin text-default {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: $color-text;
}

@mixin header($color) {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
    color: $color;

    @media only screen and (max-width: 1199px) {
        font-size: 60px;
    }

    @media only screen and (max-width: 991px) {
        font-size: 50px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 35px;
        line-height: 50px;
    }

    @media only screen and (max-width: 575px) {
        font-size: 32px;
        line-height: 40px;
    }
}

@mixin btn-default($bg-color) {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    color: $color-black;
    background-color: $bg-color;
}