$color-black: #000000;
$color-white: #ffffff;

$color-dark: #1b2028;
$color-text: #232323;

$color-blue: #26e6e6;

$color-grey-dark-1: #2f3238;
$color-grey-dark-2: #333333;
$color-grey-dark-3: #3f3f3f;

$color-grey-light-1: #cbcbcb;
$color-grey-light-2: #f2f4f9;
$color-grey-light-3: #f5f6f8;
$color-grey-light-4: #fffefe;