.btn {
    @include small-text;
    width: 152px;
    height: 42px;
    background-color: $color-black;
    border: none;
    border-radius: 2.0px;
    color: $color-white;
    cursor: pointer;
    transition: all .2s;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: lighten($color-black, 10%);
        color: $color-blue;
        box-shadow: $shadow-dark;
    }

    &-iphone {
        width: 100%;
        width: 386px;
        height: 60px;
        border-radius: 0.0px 0.0px 2.0px 2.0px;
        color: $color-grey-light-4;
    }
}