.icon {
    position: relative;
    margin-bottom: auto;

    &-inside {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);

        &__2 {
            top: 30%;
        }

        &__3 {
            left: 35%;
            top: 25%;
        }
    }
}

