.icon {
    position: relative;
    margin-bottom: auto;

    &-inside {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);

        &__2 {
            top: 30%;
        }

        &__3 {
            left: 35%;
            top: 25%;
        }

        &__4 {
            left: 62%;
            top: -10%;
        }

        &__5 {
            left: 43%;
            top: 8%;
        }

        &__6 {
            left: 59%;
        }

        &__7 {
            left: 83%;
            top: -6%;
        }
    }
}

