.promo {
    min-height: 897px;
    background: url(../img/bg_1.jpg) center center/cover no-repeat;
    padding: 47px 0 0 0;
    &__title {
        @include header($color-black);
        margin-top: 208px;
        margin-left: -8px;
        max-width: 60%;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    &__label {
        @include small-text;
        margin-top: 15px;
        color: $color-text;
    }
}